.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(5px + 2vmin);
  color: white;
}
.App-header h1 {
  margin-left: 500px;
}
.App-header a {
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

img{
  margin-top: 2px;
}

button{
  padding: 2pt;
}

#appRow{
  margin-right: 0;
}

#navContainer{
  padding-left: 10px;
  padding-right: 10px;
}

#toggle{
  padding: 10pt;
  margin-left: 20px;
  padding-left: 20pt;
  padding-right: 20pt;
  font-size: x-large;
  z-index: 150;
  position: absolute;
}

#saldo{
  width: 45%;
  font-size: x-large;
  padding: 0;
  margin-bottom: 1pt;
}

.resultText{
  font-size: large;
}

#resultBox{
  padding: 15px;
}

.sidebarContent{
  margin-right: 20px;
}

/*Sidebarin vakioasetukset*/

.sidebar {
  height: 100vh;
  padding-left: 20px;
  /**opacity: 0.8;**/
  color: white;
  background-color: rgba(11, 74, 145, 0.753);
  width: 100%;
  max-width: 500px;
  position: absolute;
  z-index: 200;
  left:-100%;
  animation: slide-open 0.75s forwards;
}

.sidebar-close{
  height: 100vh;
  padding-left: 20px;
  /**opacity: 0.8;**/
  color: white;
  width: 100%;
  max-width: 500px;
  position: absolute;
  z-index: 200;
  left: 0;
  animation: slide-closed 0.75s forwards;
}

#close{
  opacity: 1;
}

#resultContainer{
  opacity: 1;
}


/* Admin paneeli */
.admin-flex { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

/* Tavaran lisäys/muokkaus form */
#admin-form{
    max-width: 350px;
    grid-column: 1 / span 1;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
    padding-top: 1.9rem;
    padding-left: 3rem;
}
#admin-form input, #admin-form button {
  margin: 5px;
}
#admin-form .button2 {
  margin-top: 0px;
  width: 50%;
}
#admin-form img {
  max-width: 150px;
}
/* Loki */
#log-btn {
  max-width: 220px;
  justify-self: normal;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 1rem;
}
.log-main {
  grid-column: 2 / span 3;
  margin-bottom: 50px;
  max-width: 100%;
}
.log-container {
  max-height: 500px;
  max-width: 100%;
  overflow: scroll;
  padding: 0px;
}
.log {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3px 0px 0px 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.added-log {
  border: 0.1rem solid rgb(0, 97, 0);
  background-color: rgb(185, 250, 185);
}
.deleted-log {
  border: 0.1rem solid rgb(216, 0, 0);
  background-color: rgb(253, 161, 161);
}
.edited-log {
  border: 0.1rem solid rgb(221, 162, 1);
  background-color: rgb(248, 255, 181);
}
/* Kartta */ 
#map-container {
  grid-column: 2 / span 3;
  margin-left: auto;
  margin-right: 0em;
  padding-left: 1rem;
  margin-top: 3rem;
}
#canvas {
  background: #f0f0f0;
  border-radius: 5px;
}
#kartta {
  display: none;
  margin-left: 400px;
}
.admin-map {
  width: 100%;
}
.user-map {
  width: 100%;
}

/*Media Queryt*/

@media (min-width: 576px) {

  .sidebar{
    /**background-color: rgb(145, 136, 11);**/
    max-width: 500px;
    
  }
  #saldo{
    width: 40%;
    font-size: x-large;
    padding: 0;
    margin-bottom: 1pt;
  }
}

@media (min-width: 768px) {
  
  
}

@media (min-width: 992px) {
  
}

@media only screen and (max-width: 800px) {
  .admin-flex { 
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  #admin-form{
    grid-column: 1;
    grid-row: 1;
    margin: auto;
    max-width: 400px;
    width: 100%;
    padding-left: 1rem;
  }
  #map-container {
    grid-column: 1;
    grid-row: 2;
  }
  #log-btn {
    grid-column: 1;
    grid-row: 3;
  }
  .log-main {
    margin-left: 1em;
    grid-column: 1;
    grid-row: 4;
  }
}


@keyframes slide-open{
  100% {left:0}
}

@keyframes slide-closed{
  100% {left: -100%}
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

