.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(5px + 2vmin);
  color: white;
}
.App-header h1 {
  margin-left: 500px;
}
.App-header a {
  margin-right: 20px;
}

.App-link {
  color: #61dafb;
}

.sidebar-sticky {
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar {
  height: 100vh;
  padding-left: 20px;
  background-color: rgb(24, 11, 145);
  opacity: 0.8;
  color: white;
  width: 400px;
  position: fixed;
  z-index: 200;
  left:-100%;
  animation: slide-open 0.75s forwards;
}

.sidebar-close{
  height: 100vh;
  padding-left: 20px;
  background-color: rgb(24, 11, 145);
  opacity: 0.8;
  color: white;
  width: 400px;
  position: fixed;
  z-index: 200;
  left: 0;
  animation: slide-closed 0.75s forwards;
}

/* Admin paneeli */
.admin-flex { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}
.admin-map {
  margin-right: 10rem;
  max-width: 1000px;
}
.user-map {
  margin-left: 25rem;
}
/* Tavaran lisäys/muokkaus form */
#admin-form{
    max-width: 250px;
    width: auto;
    display: flex;
    flex-direction: column;
    min-height: 50rem;
    margin-top: 1.25rem;
    padding-top: 1.9rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
#admin-form input, #admin-form button {
  margin: 5px;
}
#admin-form .button2 {
  margin-top: 0px;
  width: 50%;
}
/* Loki */
.log-main {
  margin-top: -50px;
  margin-bottom: 50px;
}
.log-container {
  padding: 5px;
}
.log {
  padding: 10px 0px 0px 10px;
  margin-bottom: 5px;
  width: 200%;
  border-radius: 15px;
}
.added-log {
  border: 0.1rem solid rgb(0, 97, 0);
  background-color: rgb(185, 250, 185);
}
.deleted-log {
  border: 0.1rem solid rgb(216, 0, 0);
  background-color: rgb(253, 161, 161);
}
.edited-log {
  border: 0.1rem solid rgb(221, 162, 1);
  background-color: rgb(248, 255, 181);
}

@keyframes slide-open{
  100% {left:0}
}

@keyframes slide-closed{
  100% {left: -100%}
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

